@use './variables';

.categories {
  padding: 2rem;

  h1 {
    color: variables.$primary-color;
  }

  .category-list {
    list-style: none;
    padding: 0;

    .category-item {
      margin: 0.5rem 0;
      font-size: 1.2rem;
    }
  }
}
