@use './variables';

.navbar {
  background-color: variables.$primary-color;
  padding: 1rem;
  color: variables.$text-color;
  display: flex;
  justify-content: space-between;

  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;

    a {
      color: variables.$text-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
