@use './variables';

.post-details {
  padding: 2rem;

  h1 {
    color: variables.$primary-color;
  }

  p {
    margin-top: 1rem;
    line-height: 1.6;
  }

  h3 {
    margin-top: 2rem;
    color: variables.$secondary-color;
  }
}
